[submodule "thirdparty/deeparuco"]
	path = thirdparty/deeparuco
	url = https://github.com/AVAuco/deeparuco.git
[submodule "thirdparty/deeptag-pytorch"]
	path = thirdparty/deeptag-pytorch
	url = https://github.com/herohuyongtao/deeptag-pytorch.git
