[submodule "thirdparty/deeparuco"]
	path = thirdparty/deeparuco
	url = https://github.com/liyichen123456/deeparuco.git
[submodule "thirdparty/deeptag-pytorch"]
	path = thirdparty/deeptag-pytorch
	url = https://github.com/liyichen123456/deeptag-pytorch.git
